body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

#login-form-box {
    width: 35em;
    height: 20em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

#warning-information {
    font-family: 'Rajdhani', sans-serif;
    margin: 2% 0 0 0;
    font-size: 120%;
    color: rgba(217, 18, 18, 0.99);
    text-align: center;
}

.editor {
    width: 80%;
    height: 15%;
    margin: 0 0 0% 10%;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 10px;
}

.login-editor {
    margin-top: 8%;
    margin-bottom: 5%;
}


.haslo-editor {
    margin-bottom: 3%;
}

.check-editor {
    margin-left: 10px;
}

.remember-me {
    font-family: 'Rajdhani', sans-serif;
    padding-left: 65%;
}

.btn-login {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    font-size: 130%;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 3%;
}

    .btn-login:hover {
        background-color: rgba(0, 0, 0, 0.60);
    }
