a,
a:hover,
a:active {
    text-decoration: none;
}

/* ---------------------------- TOP TOOLS BAR SECTION ->- */
/*#region TOP_TOOLS_BAR_SECTION*/
#myaccount-top-tools-box-1, #myaccount-top-tools-box-2, #myaccount-top-tools-box-3 {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#myaccount-top-tools-box-1 {
    border-right: 0.2em solid #2a2b30;
    width: 25%;
}

#myaccount-top-tools-box-2 {
    width: 50%;
    background-color: #6b5b95;
    color: white;
}

span {
    margin-left: auto;
    margin-right: auto;
}

#myaccount-top-tools-box-3 {
    border-left: 0.2em solid #2a2b30;
    width: 25%;
}


/*#endregion TOP_TOOLS_BAR_SECTION*/


/* --------------------- MOBILE TOP TOOLS BAR SECTION ->- */
/*#region MOBILE_TOP_TOOLS_BAR_SECTION*/
#mobile-myaccount-top-tools-box-1, #mobile-myaccount-top-tools-box-2, #mobile-myaccount-top-tools-box-3 {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    width: 33.3%;
    float:left;
}

#myaccount-top-tools-box-1 {
    border-right: 0.2em solid #2a2b30;
    width: 25%;
}

#myaccount-top-tools-box-2 {
    width: 50%;
    background-color: #6b5b95;
    color: white;
}

#myaccount-top-tools-box-3 {
    border-left: 0.2em solid #2a2b30;
    width: 25%;
}


/*#endregion MOBILE_TOP_TOOLS_BAR_SECTION*/


/* ------------------------------------- PAGE CONTENT ->- */
/*#region PAGE_CONTENT*/

#myOperations-history-partial, #myOperations-today-partial, #myOperations-future-partial {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: none;
}

#myOperations-today-partial {
    display: block;
}

/*#endregion PAGE_CONTENT*/


/* ------------------------------- OPERATIONS PARTIAL ->- */
/*#region OPERATIONS_PARTIAL*/

#myOperations-content {
    width: 100%;
    height: 100%;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.2em;
}

.myOperations-date-box {
    width: 100%;
    height: 3em;
    margin-top: 1.5em;
}

    .myOperations-date-box span {
        font-size: 200%;
        color: white;
        margin: 5% 0 0 7%;
    }

.my-operations-partial-box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-bottom: 1px dotted rgba(195, 187, 182, 0.58);
}

#today-box {
    width: auto;
    height: auto;
    border: 1px dashed rgba(195, 187, 182, 0.58);
}

/*#endregion OPERATIONS_PARTIAL*/


/* ---------------------------------- DETAILS PARTIAL ->- */
/*#region DETAILS_PARTIAL*/



/*#endregion DETAILS_PARTIAL*/


/* ------------------------------------- EDIT PARTIAL ->- */
/*#region EDIT_PARTIAL*/



/*#endregion EDIT_PARTIAL*/


/*#region SMARTFON */
@media only screen and (max-width: 575) {
   
}
/*#endregion SMARTFON */

/*#region TABLET */
@media screen and (min-width: 576px) and (max-width: 991px) {
}
/*#endregion TABLET */

/*#region DESKTOP */
@media only screen and (min-width: 992px) {
}
/*#endregion DESKTOP */
