#content {
    width: 100%;
    height: 100%;
}

.date-box {
    width: 15em;
    height: 3em;
}

    .date-box span {
        font-size: 200%;
        color: white;
        margin: 5% 0 0 7%;
        font-family: 'Baloo 2', cursive;
    }

.my-operations-partial-box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-bottom: 1px dotted rgba(195, 187, 182, 0.58);
}
