@model car_rental_notes.Models.ViewModels.Account.LoginUserVM
<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap&subset=latin-ext" rel="stylesheet">
@{
    Layout = null;
     
}
<link href="~/StylesCSS/Account/LoginCSS.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj się</title>
</head>
<body>
    <div id="login-form-box">

        @using (Html.BeginForm())
        {
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = " nazwa użytkownika", @class = "login-editor editor" } })
            @Html.PasswordFor(model => model.Haslo, new { @class = "haslo-editor editor"  })
            <label class="remember-me">Zapamiętaj mnie: </label>
            @Html.EditorFor(model => model.ZapamietajMnie, new { htmlAttributes = new { @class = "form-check-input check-editor" } })
                
            <button class="btn-login" style="width:80%;margin-left:10%; margin-right:10%;">ZALOGUJ SIĘ</button>
            <div id="warning-information">@TempData["Warning"]</div>
        }
    </div>
</body>
</html>

