@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/StylesCSS/Account/MyAccountCSS.css" rel="stylesheet" />

<body>
    @section top_tools_bar{
        <div id="top-tools-box-1"> <a href="~/Account/MyOperations">Moje operacje</a> </div>
        <div id="top-tools-box-5"> <a href="~/Account/AccountDetails">Szczegóły konta</a> </div>
    }
    <div id="page-content-box">

        <div id="add-new-note-content">
        @Html.Action("MyOperations", "Account", new { area = "" })
    </div>

    </div>
</body>

