@{
    /**/

    @Scripts.Render("~/bundles/jquery")
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/myScripts/Account/myaccount-set-partial.js"></script>
<link href="~/StylesCSS/Account/MyAccountCSS.css" rel="stylesheet" />

<body>
    @section top_tools_bar{
        <div id="myaccount-top-tools-box-1"> <span class="top-tools-span">Moje operacje</span> </div>
        <div id="myaccount-top-tools-box-2"> <span class="top-tools-span">Szczegóły konta</span> </div>
        <div id="myaccount-top-tools-box-3"> <span class="top-tools-span">Edycja konta</span> </div>
    }
    <div id="page-content-box">

        <div id="myOperations-partial">
            @Html.Action("MyOperations", "Account", new { area = "" })
        </div>

        <div id="myAccountDetails-partial">
            @Html.Action("MyAccountDetailsPartial", "Account", new { area = "" })
        </div>

        <div id="EditAccount-partial">
            @Html.Action("EditAccountPartial", "Account", new { area = "" })
        </div>


    </div>
</body>

