@model IEnumerable<car_rental_notes.Models.ViewModels.Board.BoardVM>

<div>
    <h4>BoardVM</h4>
    <hr />

    @foreach (var item in Model)
    {

        <h1>@item.Data_Operacji</h1>


        @Html.Action("MyOperationsPartial", "Account", new { operationData = item.Data_Operacji.ToString()})



    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
