@model IEnumerable<car_rental_notes.Models.ViewModels.Board.BoardVM>

<link href="~/StylesCSS/Account/MyOperationsCSS.css" rel="stylesheet" />

<div id="content">

    @foreach (var item in Model)
    {

        <div class="date-box">
            <span>@item.Data_Operacji.ToString("dd/MM/yyyy")</span>
        </div>


        <div class="my-operations-partial-box">
            @Html.Action("MyOperationsPartial", "Account", new { operationData = item.Data_Operacji.ToString() })
        </div>
    }
</div>
